@font-face {
  font-family: 'Gotham Bold Italic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Gotham-BoldItalic.otf') format('opentype');
}
