@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Gotham-Light.otf') format('opentype');
}
