@font-face {
  font-family: 'Gotham Light Italic';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Gotham-LightItalic.otf') format('opentype');
}
