@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Gotham-Medium.otf') format('opentype');
}
