@font-face {
  font-family: 'Knockout Heviweight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Knockout-HTF53-Heviweight.otf') format('opentype');
}
