@font-face {
  font-family: 'Knockout Junior Sumo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/braymott/email-fonts/Knockout-HTF34-JuniorSumo.otf') format('opentype');
}
